//COLOURS
$black: #19181b;
$grey1: #323135;
$grey2: #65626a;
$grey3: #7e7a85;
$grey4: #b1afb6;
$grey5: #e5e4e7;
$grey6: #f2f2f3;

$mauve: #ceb4ff;
$mauve1: #dac7ff;
$mauve2: #e8dbff;
$mauve3: #f5f0ff;

$wildblue: #96b1eb;
$wildblue1: #a5bcee;
$wildblue2: #b6c9f1;
$wildblue3: #c7d6f4;

$lavender: #a791f6;
$lavender1: #b7a5f8;
$lavender2: #c6b8f9;
$lavender3: #d6cbfb;

$violetblue: #7d82d4;
$violetblue1: #8c90d9;
$violetblue2: #9b9fde;
$violetblue3: #abaee3;

$iceberg: #7dafd4;
$iceberg1: #8cb8d9;
$iceberg2: #9bc2de;
$iceberg3: #abcbe3;

$babyblue: #92d5f6;
$babyblue1: #a5ddf8;
$babyblue2: #b8e4f9;
$babyblue3: #cbebfb;
