//Google Fonts
@import url("https://fonts.googleapis.com/css2?family=Karla:wght@400;600;700&family=Spectral:wght@400;600;700&display=swap");

// Font Variables
$karla: "karla", sans-serif;
$spectral: "Spectral", serif;
$small-body: 1.125rem;

// Font Styles
body {
  font-family: $karla;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.4;

  h1 {
    font-family: $spectral;
    font-size: 2rem;
    font-weight: 700;
    line-height: 1.4;
  }
  h2 {
    font-family: $spectral;
    font-size: 1.7rem;
    font-weight: 700;
    line-height: 1.4;
  }
  h3 {
    font-family: $karla;
    font-size: 1.3rem;
    font-weight: 700;
    line-height: 1.4;
  }
}
